<section class="row text-center placeholders">
<div class="col-6 col-sm-3 placeholder">
    <img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-512.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <h4><%=@users_count %></h4>
    <div class="text-muted">Total usuarios activos</div>
</div>
<div class="col-6 col-sm-3 placeholder">
    <img src="http://www.myiconfinder.com/uploads/iconsets/0af0e35a05b3955209dd049fd0a974f5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <h4><%=@companies_count %></h4>
    <span class="text-muted">Total empresas asociadas</span>
</div>
<div class="col-6 col-sm-3 placeholder">
    <img src="http://ckea.ie/wp-content/uploads/2015/12/Events-Icon.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <h4><%=@shifts_count %></h4>
    <span class="text-muted">Total turnos generados</span>
</div>
<div class="col-6 col-sm-3 placeholder">
    <img src="https://lh3.googleusercontent.com/TAWLKb7uG28h6nLjWelAPJirKxZcfCsdIqzmNRiDygUDAiUTVKSh_36juGCgmFE7-eCW=w300" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <h4><%=@areas_count %></h4>
    <span class="text-muted">Total rubros</span>
</div>
</section>