<h1>Bienvenido</h1>
<br>
<br>
<br>
<section class="row text-center placeholders">
<div class="col-6 col-sm-6 placeholder">
    
    <img src="http://ckea.ie/wp-content/uploads/2015/12/Events-Icon.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <br>
    <%= link_to "Registrarse", new_user_registration_path %><br>
</div>
<div class="col-6 col-sm-6 placeholder">
    <img src="http://www.myiconfinder.com/uploads/iconsets/0af0e35a05b3955209dd049fd0a974f5.png" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <br>
    <%= link_to "Registrar empresa", new_company_path %>
</div>
</section>

<br>
<br>
<br>