<h2><%= @company.razon_social %> </h2>
<h3>Buscar turnos </h3>
<%= render "partials/filtersManagementShift.html", path: search_shifts_path(params[:id], 'true') %>
<%= render "partials/tableManagementShift.html" %>