<h1>Gestion de turnos <%= link_to 'Generar turnos', new_activity_path, :class =>"btn btn-success" %></h1>

<%= render "partials/filtersManagementShift.html" %>

<table class="table">
  <thead>
    <tr>
      <th>Sucursal</th>
      <th>Actividad</th>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Cupo</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> Constitucion </td>
      <td> Crossfit </td>
      <td> 17/05/2017 </td>
      <td> 07:00 hs </td>
      <td> 08:00 hs </td>
      <td> 20 </td>
      <td>
          <%= link_to admin_path, :class =>"btn btn-warning btn-xs"  do %>
              <span class="glyphicon glyphicon-list-alt"></span>
          <% end %>
      </td>
    </tr>
  </tbody>
</table>