<h1>Gestion de turnos <%= link_to 'Generar turnos', new_shift_path, :class =>"btn btn-success" %></h1>

<%= render "partials/filtersManagementShift.html", path: management_shifts_path %>

<%= render "partials/tableManagementShift.html" %>