<!DOCTYPE html>
<html>
  <head>
    <title>Msturnos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
          <%= yield %>
      </div>
    </div>
  </body>
</html>
